* {
  font-family: Calibri, "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
}

.fotoCv {
  width: 300px;
}

body {
  font-size: 22px;
}
h2 {
  background-color: rgb(168, 167, 167);

}

.negrita {
  font-weight: bold;
  font-size: larger;
}

.cursiva {
    font-style: italic;
}
